<footer>
	{{#link-to 'index' tagName="a"}}<button class="btn btn-default pagesBtn">Todo</button>{{/link-to}}
	{{#link-to 'completed' tagName="a"}}<button class="btn btn-default pagesBtn">Completed</button>{{/link-to}}
</footer>
